.interDetailWrap {
  .header {
    .backBtn {
      font-size: 36px;
    }
  }
  input, textarea, .ant-select-selection__rendered {
    border: none;
    background: none;
    &:focus {
      background-color: #fff;
    }
  }
  .topForm {
    margin-bottom: 20px;
  }
  .sideTab {
    :global {
      .ant-card-head {
        background-color: #f0f2f5;
      }
    }
  }
}
